.gallery-container {
    display: flex;
    gap:30px;
    flex-wrap: wrap;
    margin: 60px 15%;
    justify-content: center;
}

@media (max-width: 768px) {
    .gallery-container {
        margin: 60px 5%;
    }
}